// Fixes issues with bootstrap/theme variables and node-sass: https://github.com/twbs/bootstrap/issues/28240
$font-size-base: 0.875rem !default;
$line-height-lg: 3.375 !default;

@import '~bootstrap/scss/bootstrap.scss';
@import './paper-kit/paper-kit.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
