.skeleton {
  &-title {
    height: 1.5rem;
    width: 25%;
  }
  &-subtitle {
    height: 1.2rem;
    width: 50%;
  }
  &-row {
    &--full {
      height: 1rem;
      width: 95%;
    }
    &--half {
      height: 1rem;
      width: 60%;
    }
    &--full,
    &--half {
      margin: 0 1.5rem;
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }
}
