@import 'assets/scss/styles/helpers/screen-helpers';

.about-header {
  background: var(--gray-dark);
  color: white;

  &__text {
    z-index: 1;
  }

  &__scroll {
    cursor: pointer;

    &.btn.btn-link {
      color: rgb(211, 211, 211);

      &:hover,
      &:active,
      &:focus {
        color: #ffffff70 !important;
      }
    }
  }

  &__down {
    animation: bounce 0.6s ease-in-out infinite alternate-reverse;
  }

  &__animation-switch {
    @include md {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 1rem 2rem;
    }
  }

  &__skeleton {
    position: relative;

    &-title {
      width: 20rem;
      height: 1.2rem;
      margin: 0 auto;
      margin-bottom: 0.5rem;

      @include sm {
        width: 30rem;
        height: 2rem;
      }

      @include md {
        height: 3rem;
        width: 40rem;
      }
    }

    &-scroll {
      width: 12rem;
      height: 0.8rem;
      margin: 0 auto;
      margin-bottom: calc(0.5rem + 9px);

      @include md {
        width: 15rem;
        height: 1rem;
      }
    }
  }
}

.particles {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
  height: 100vh;
  width: 100%;
  opacity: 0.4;
}

@keyframes bounce {
  from {
    transform: translateY(4px);
  }
  to {
    transform: translateY(-4px);
  }
}
