.aspect-box {
  &__inner {
    position: relative;
    height: 0;
    padding-bottom: 100%;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
