.skeleton-row {
  border-radius: 0.3rem;
  background-color: rgba(lightgrey, 0.7);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 1.5rem;
  animation: load 1.4s infinite ease-in;
}

@keyframes load {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}
