@import 'assets/scss/styles/helpers/screen-helpers';

body {
  padding-top: 41px;

  @include md {
    padding-top: 71px;
  }
}

.app-navbar {
  &.navbar {
    & .navbar-brand {
      @include max-xs {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    &-nav {
      @include max-sm {
        margin: 0;
      }
    }

    & .nav-item {
      @include max-sm {
        display: none;
      }
      &.navbar-burger {
        display: none;

        @include max-sm {
          display: initial;
        }

        & .nav-link {
          margin: 0 15px;
          padding: 10px 15px;
        }
      }
    }
  }
}

.headroom {
  @include md {
    will-change: transform, background-color;
    transition: transform 0.5s ease-in-out, background-color 0.4s ease-in-out;

    &--pinned {
      position: fixed;
      top: 0;
      width: 100%;
      transform: translateY(0%);
    }

    &--unpinned {
      transform: translateY(-100%);
    }
  }
}
