@import '~react-awesome-slider/src/core/styles.scss';
@import 'assets/scss/styles/helpers/screen-helpers';

.project-details {
  &__github {
    &.btn-link {
      padding: 0;
    }
  }

  &__gallery {
    padding-bottom: 5rem;
  }

  &__image {
    &-container {
      height: 100%;
      width: 100%;

      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
