@import 'assets/scss/styles/helpers/screen-helpers';

.skill-wheel {
  &__container {
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--info);
    border-radius: 50%;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  }

  &__logo {
    position: relative;
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    margin-bottom: 0.5rem;

    @include xl {
      width: 4rem;
      height: 4rem;
    }
  }

  &__project-count {
    margin-bottom: 0;

    @include xl {
      margin-bottom: 0.5rem;
    }
  }

  &__company-count {
    margin-bottom: 1rem;
  }
}
