@import 'assets/scss/styles/helpers/screen-helpers';

.skill-wheel {
  &__motion {
    height: 100%;
    transform-style: preserve-3d;
    cursor: pointer;
    border: 5px solid var(--info);
    border-radius: 50%;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--info);
    border-radius: 50%;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);

    .skill-wheel__motion & {
      border: none;
      box-shadow: none;
    }
  }

  &__front,
  &__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  &__back {
    transform: rotateY(180deg) !important;

    & .btn.btn-sm {
      padding: 2px 8px;
      border-radius: 10rem;
    }
  }

  &__logo {
    position: relative;
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    margin-bottom: 0.5rem;

    @include xl {
      width: 4rem;
      height: 4rem;
    }
  }

  &__project-count {
    margin-bottom: 0;

    @include xl {
      margin-bottom: 0.5rem;
    }
  }

  &__company-count {
    margin-bottom: 1rem;
  }
}
